mixin entryList(entries)
  ul
    each entry in entries
      - const [url, title, description] = entry
      li
        a(href=url)
          strong= title
          if description
            br
            | #{description}

h1= siteTitle

h2 Machine learning notes and experiments
+entryList(ml)

h2 Other
+entryList(other)

p.external-links
  a(href="https://github.com/mariogemoll") GitHub
  | #{' '} | #{' '}
  a(href="https://www.linkedin.com/in/mariogemoll") LinkedIn
p.feed-links
  a(href="/rss.xml") RSS
  | #{' '} | #{' '}
  a(href="/atom.xml") Atom
