mixin entryList(entries)
  ul
    each entry in entries
      - const [url, title, description] = entry
      li
        a(href=url)
          strong= title
          if description
            br
            | #{description}

h1= siteTitle

h2 Machine learning notes and experiments

p
  | These notes and experiments are how I learn machine learning: by breaking ideas down, rebuilding
  | them from scratch, and seeing what actually happens when I run them. I try to follow a
  | Feynman-style approach: if I can't explain something clearly, I probably don't understand it
  | yet. Most of what's here is exploratory, shared openly as a way to learn in public and to give
  | something back to the community I've learned so much from.

+entryList(ml)

h2 Other
+entryList(other)

p.external-links
  a(href="https://github.com/mariogemoll") GitHub
  | #{' '} | #{' '}
  a(href="https://www.linkedin.com/in/mariogemoll") LinkedIn
p.feed-links
  a(href="/rss.xml") RSS
  | #{' '} | #{' '}
  a(href="/atom.xml") Atom
